*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-color: rgb(240, 235, 235);
  --background-color: #d9c2daec;
  --btn-color: #38beb1;
  --btn-white-color: #f7f1e3;
  --fail-color: #fc5c65;
  --correct-color: #49e697;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--wrapper-color);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 50px 100px;
}

.container-center {
  display: flex;
  justify-content: center;
}

.containers {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 40px 55px;
  border-radius: 8px;
}

.string-bold {
  font-size: 20px;
  font-weight: 600;
}

span {
  color: rgb(113, 116, 113);
  font-size: 24px;
  font-weight: 600;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--btn-color);
  color: var(--btn-white-color);
}

.section-con {
  padding: 40px 55px 5px 55px;
}

.h {
  max-height: 450px;
}

hr {
  position: absolute;
  left: 0px;
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(160, 160, 160);
  margin: 1em 0;
  padding: 0;
  border-radius: px;
}

.list {
  list-style: none;
}

.list-item {
  margin-top: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 500px;
  padding: 40px 55px;
  border-radius: 8px;
}

.first-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.second-column {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input {
}

.third-column {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.caution {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 15px 25px;
  border-radius: 8px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}

.correct {
  background-color: var(--correct-color);
  padding: 10px;
  color: #fff;
  margin-bottom: 15px;
}

.fail {
  background-color: var(--fail-color);
  padding: 10px;
  color: #fff;
  margin-bottom: 15px;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.alert-center {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.color {
  background-color: var(--background-color);
}

.active {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.active:before {
  content: "";
  background: linear-gradient(45deg, #d2dae2, #808e9b, #af58bb, #d2dae2);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: rainbow 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.active:active {
  color: #000;
}

.active:active:after {
  background: transparent;
}

.active:hover:before {
  opacity: 1;
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  65% {
    background-position: 400% 0;
  }
  100% {
    background-position: 10% 0;
  }
}

.deactive {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.deactive:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: fire 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

/* .deactive:active {
   color: #000
}

.deactive:active:after {
   background: transparent;
} */

.deactive:hover:before {
  opacity: 1;
}

.deactive:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes fire {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
